@color: #fff;

.Login {
  font-family: 'Helvetica Neue', sans-serif;
  // user-select: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 16px;
  color: green;
  padding: 20px;
  position: relative;
  background: transparent;
  padding-top: 50vh;
  p {
    text-indent: 2rem;
    margin: 0 20px;
  }
  .Form {
    position: absolute;
    top: 60vh;
    left: calc(50vw - 200px);
    width: 400px;
    height: 300px;
    z-index: 10;
    text-align: center;
    .Submit {
      color: @color;
      background-color: transparent;
      width: 200px;
      &:hover,
      &:focus {
        border-color: @color;
      }
    }
    .formItem {
      justify-content: center;
      .label {
        width: 60px;
        margin-right: 10px;
        text-align-last: justify;
      }
      margin-bottom: 16px;
      color: @color;
      -webkit-text-fill-color: @color;
      caret-color: @color; /*光标颜色*/
      display: flex;
      flex-wrap: nowrap;
      input.value {
        background-color: transparent;
        &::-webkit-input-placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder {
          color: @color;
          -webkit-text-fill-color: @color;
          caret-color: @color; /*光标颜色*/
        }
        &:focus {
          outline: none;
        }
        border: none;
        border-bottom: 1px solid @color;
      }
    }
  }
}
.Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .preCode {
    position: absolute;
    overflow: visible;
    top: 15vh;
    left: 10vw;
    font-size: 1.5em;
    code {
      background: transparent;
      opacity: 0;
      transition: opacity 3s;
      &.active {
        opacity: 1;
      }
    }
  }
}
