.logo{
  height: 60px;
  color: #fff;
  line-height: 60px;
  text-align: center;
}
.layout-header {
  padding: 0;
}
.layout-sider-menu{
  overflow: auto;
  height: calc(100vh - 108px);
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
.layout-content {
  background: #fff;
  overflow: auto;
  height: calc(100vh - 112px);
}
